:root {
  --primary: #9c27b0;
  --primaryDark: #89119d;
  --secondary: #ffce00;
  --secondaryDark: rgb(233, 287, 2);
  --blank: #ffffff;
  --black: #000000;

  --principalFont: "Staatlinches", cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inheritF;
}

/*Globales*/
body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blank);
}

* {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--principalFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

.navigation {
    background-color: var(--primaryDark);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navigation__link {
    font-family: var(--principalFont);
    color: var(--blank);
    font-size: 3rem;
}

.navigation__link--active,
.navigation__link:hover {
    color: var(--secondary);
}